{
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "auto",
  "trailingComma": "all",
  "semi": false,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": false
}
